/* Main text color #434455 */
/* Secondary text color #2E2F42 */
/* Accent text color #F4F4FD */
/* Main page background #FFFFFF */
/* Box background 1 #2E2F42 */
/* Box background 2 #E7E9FC */
/* Box background 3 #F4F4FD */

:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-text-color: #f4f4fd;
  --hover-text-color: #404bbf;
  --box-background-action: #e7e9fc;
  --box-background-accent: #f4f4fd;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Visually hidden  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |=================================
  | Base styles
  |=================================
**/
html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: #ffffff;
}

img {
  display: block;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Header - navigation
  |============================
**/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo-fst {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-sec-txt {
  color: var(--secondary-text-color);
}

/* .header-logo {
  display: inline-block;
} */

.main-nav {
  display: flex;
  align-items: center;
  /* outline: 2px solid blue; */
}

.nav-menu-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 24px 0;
  gap: 40px;
  /* outline: 2px solid teal; */
}

.nav-menu-link {
  font-weight: 500;
  padding: 24px 0;
  /* font-size: 16px; */
  color: var(--secondary-text-color);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  /* font-size: 18px; */
  /* color: red; */
  color: var(--hover-text-color);
  /* border-bottom: 1px solid #4D5AE5; */
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
  /* outline: 2px solid tomato; */
}

.contacts-item {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-item:hover,
.contacts-item:focus {
  font-size: 16px;
  color: #404bbf;
}

/**
  |=================================
  | Hero section
  |=================================
**/

.hero-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-box {
  background-color: var(--secondary-text-color);
  /* background-image: url(); */
  text-align: center;
  padding: 188px 0;
}

/* Button on hero */
.button-hero {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/**
  |=================================
  | Features sections
  |=================================
**/

.features-title,
.projects-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* .features-section,
.doing .container {
  margin-bottom: 120px;
} */

.features-section {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
  /* margin-bottom: 120px; */
}

.subcontainer {
  width: calc((100% - 3 * 24px) / 4);
  /* outline: 2px solid tomato; */
}

/**
  |============================
  | What we are doing S#3
  |============================
**/

.doing-section {
  padding-bottom: 120px;
}

.doing,
.team {
  display: flex;
  gap: 24px;
}

.doing-tiltle,
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-text-color);
}

team-section > .team-title {
  margin-bottom: 72px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-section .features-title,
.features-section .features-title {
  margin-bottom: 8px;
}

/**
  |============================
  | Out Team Section
  |============================
**/

.team-section {
  padding: 120px 0px;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
}

.features-title {
  text-align: center;
}

.card-box {
  padding: 32px 16px;
  text-align: center;
}

/**
  |=================================
  | Footer section
  |=================================
**/

.footer-box .container .logo-fst {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 16px;
  /* outline: 2px solid tomato; */
}

.footer-box {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-sec-footer {
  color: var(--accent-text-color);
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/**
  |=================================
  | Portfolio page
  |=================================
**/

.filters-section {
  padding: 96px 0 120px;
}

.filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  /* margin-top: 96px; */
  margin-bottom: 72px;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--box-background-accent);
  padding: 12px 24px;
  border: 1px solid var(--box-background-action);
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

/**
  |============================
  | Projects section
  |============================
**/

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* outline: 2px solid tomato; */
}

.projects-content {
  padding: 32px 16px;
  margin-block-end: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  border: 1px solid #e7e9fc;
  border-top: none;
  /* outline: 2px solid teal; */
}

.projects-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
